.login-left {
    @include flexCenter($justify: true);
    flex: 1;
    background-color: $white-200;
    height: 100vh;

    img {
        padding: 0 2vw;
        width: 400px;
        height: auto;
    }
}