@charset "UTF-8";
html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

html body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Merriweather";
  font-size: 1.6rem;
}

html body .login-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vw;
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 1100px) {
  html body .login-main .login-left {
    display: none;
  }
  html body .login-main .login-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  html body .login-main .login-right h1 {
    font-size: 1.9rem;
    margin-bottom: 10px;
  }
  html body .login-main .login .card-login .textfield
label {
    margin-left: 10px;
    font-size: 1.4rem;
  }
  html body .login-main .login .card-login .entrada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html body .login-main .login .card-login .entrada input {
    width: 270px;
  }
  html body .login-main .login .card-login .group {
    gap: 25px;
    font-size: 1.3rem;
    padding: 19px 0;
  }
  html body .login-main .login .card-login .group .lembrar-senha input {
    margin-right: 5px;
  }
  html body .login-main .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .login-main .btn-group .btn {
    width: 300px;
    font-size: 1.4rem;
  }
  html body .login-main .last-label {
    font-size: 1.4rem;
  }
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-group .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  height: 50px;
  width: 374px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-group .btn-1 {
  background-color: #04c35c;
}

.btn-group .btn-1:hover {
  background-color: #039144;
}

.btn-group .btn-2 {
  background-color: #1a202c;
}

.btn-group .btn-2:hover {
  background-color: #07090c;
}

.login-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f7fafc;
  height: 100vh;
}

.login-left img {
  padding: 0 2vw;
  width: 400px;
  height: auto;
}

.login-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-right h5 {
  font-size: 1.6rem;
  margin: 10px 0 7px 0;
}

.login-right h1 {
  font-size: 2.6rem;
  margin: 0 0 20px 0;
}

.login-right .login {
  font-family: "Poppins";
  max-width: 377px;
}

.login-right .login .card-login {
  margin-bottom: 28px;
}

.login-right .login .card-login .textfield {
  margin-top: 11px;
}

.login-right .login .card-login .textfield label {
  display: block;
  margin-bottom: 11px;
}

.login-right .login .card-login .textfield input {
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1.4rem;
  height: 50px;
  width: 350px;
  padding-left: 20px;
}

.login-right .login .card-login .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 83px;
  font-size: 1.4rem;
  padding-top: 28px;
  padding-bottom: 26px;
}

.login-right .login .card-login .group .lembrar-senha {
  cursor: pointer;
}

.login-right .login .card-login .group .lembrar-senha input {
  margin-right: 11px;
}

.login-right .login .card-login .last-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.login-right .login .card-login .hyperLink {
  text-decoration: none;
  color: #2b6cbd;
}
/*# sourceMappingURL=main.css.map */